appdirs==1.4.4
application-utility==1.3.2
arandr==0.1.10
asgiref==3.3.4
attrs==20.3.0
btrfsutil==5.11.1
CacheControl==0.12.6
cffi==1.14.5
chardet==4.0.0
chrome-gnome-shell==0.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.7
distlib==0.3.1
distro==1.5.0
Django==3.0.5
djongo==1.3.4
dnspython==1.16.0
docopt==0.6.2
gestures==0.2.3
gufw==21.4.0
html5lib==1.1
idna==3.1
layoutswitcherlib==0.8.17
Markdown==3.3.4
msgpack==1.0.2
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.2
pep517==0.10.0
Pillow==8.2.0
ply==3.11
progress==1.5
psutil==5.8.0
pwquality==1.4.4
pycairo==1.20.0
pycparser==2.20
PyGObject==3.40.1
pymongo==3.11.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
python-dotenv==0.17.1
python-xlib==0.29
pytz==2021.1
pyxdg==0.27
ranger-fm==1.9.3
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
six==1.15.0
sqlparse==0.2.4
team==1.0
toml==0.10.2
ufw==0.36
urllib3==1.26.4
webencodings==0.5.1
