{% extends 'header.html' %}
<body>
	{% block content %}
	<div>
		<h5 style="text-align: center; color: white; font-weight: bold">{{feeds.first.name}}</h5>
		{% for posts in custom_feed_posts %}
		{% for post in posts.all %}
		<div class="row">
			<div class="col m3"></div>
				<div class="col s12 m6">
					<div class="card blue z-depth-3" style="outline: 2px white">
						<div class="card-content white-text">
							<div class="row valign-wrapper">
								<div class="col s2">
									<img src="https://64.media.tumblr.com/avatar_ac798bf64e72_128.pnj" alt="" class="circle responsive-img" style="display: inline">
								</div>
								<div class="col s10">
									<span class="card-title">{{post.author.first_name}} {{post.author.last_name}}</span>
									<p>{{post.content}}</p>
								</div>
							</div>
							<div class="card-action">
								<h6 id="post_score"><i class="material-icons" style="color: white; margin-right: 1rem;">show_chart</i>{{post.score}}</h6>
								<a href="#"><i class="material-icons" style="color: white;">thumb_up</i></a>
								<a href="#"><i class="material-icons" style="color: white;">thumb_down</i></a>
								<a href="#replyModal" class="modal-trigger"><i class="material-icons" style="color: white;">comment</i></a>
								<div id="replyModal" class="modal blue">
									<div class="modal-content">
										<h4>Reply</h4>
										<div class="row">
											<form class="col s12" id="newPostCommentForm" action="/new_post_comment/{{post.id}}" method="POST">
												{% csrf_token %}
												<div class="row">
													<div class="input-field col s12">
														{{new_post_comment_form.content}}
														<label for={{new_post_comment_form.content.id_for_label}} style="color: white;">{{new_post_comment_form.content.label}}</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col s12">
														{{new_post_comment_form.author}}
													</div>
												</div>
												<div class="row">
													<div class="input-field col s12">
														{{new_post_comment_form.score}}
													</div>
												</div>
												<div class="row">
													<div class="input-field col s12">
														{{new_post_comment_form.parent_post}}
													</div>
												</div>
												<button class="waves-effect waves-light btn" type="submit">Post Comment</button>
											</form>
										</div>
									</div>
									<div class="modal-footer blue">
										<a href="#!" class="modal-close waves-effect waves-white btn-flat" style="color: white;">Send</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col m3"></div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% empty %}
		<h5 style="text-align: center; color: white;">Nothing to see here</h5>
		{% endfor %}
	</div>
	<script>
		$(document).ready(function(){
			$('.modal').modal();
		});
	</script>
	{% endblock content %}
</body>
