<head>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body style="background-color: dodgerblue">
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" data-target="feeds_side_nav" class="sidenav-trigger show-on-large"><i class="material-icons" style="font-size: 3rem;">menu</i></a>
            <ul id="nav-mobile" class="right">
                <li><a href="/"><i class="material-icons">home</i></a></li>
                <li>
                    <form>
                        <div class="input-field">
                            <input class="blue" id="search_bar" type="search" placeholder="Search" style="color: white;" required>
                            <label class="label-icon" for="search_bar"><i class="material-icons" style="color: white;">search</i></label>
                        </div>
                    </form>
                </li>
                <li><a href="/profile" class="dropdown-trigger" data-target="profile-dropdown"><i class="material-icons">account_circle</i></a></li>
                {% if user.is_superuser %}
                <li><a href="/admin"><i class="material-icons">admin_panel_settings</i></a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="/logout"><i class="material-icons">logout</i></a></li>
                {% else %}
                <li><a class="modal-trigger" href="#login_modal"><i class="material-icons">login</i></a></li>
                {% endif %}
            </ul>
            <div id="login_modal" class="modal blue">
                <div class="modal-content">
                    <form id="login" class="" method="POST" action="/login">
                        <h4>Login</h4>
                        {% csrf_token %}
                        {{login_form.as_p}}
                        <div class="col s12">
                            <button class="waves-effect waves-light btn red lighten-2" type="submit">Login</button>
                            <p class="center">Not registered? <a class="modal-trigger" href="#signup_modal">Create an account</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <div id="signup_modal" class="modal blue">
                <div class="modal-content">
                    <form id="signupModal" method="POST" action="/register">
                        <h4>Sign Up</h4>
                        {% csrf_token %}
                        {{register_user_form.as_p}}
                        {{register_profile_form.as_p}}
                        {{address_form.as_p}}
                        <div class="col s12">
                            <button class="waves-effect waves-light btn red lighten-2" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <ul id="profile-dropdown" class="dropdown-content blue">
                <li>
                    <a href="/profile" style="color: white;"><i class="material-icons" style="color: white;">account_circle</i>Your Profile</a>
                </li>
                <li>
                    <a href="/profile/settings" style="color: white;"><i class="material-icons" style="color: white;">settings</i>Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav blue" id="feeds_side_nav">
        <h5 style="margin-left: 20px; color: white;">Feeds</h5>
        <li><a class="waves-effect waves-light" href="/" style="color: white;"><i class="material-icons" style="color: white;">dashboard</i>Default Feed</a></li>
        {% for custom_feed in current_user_custom_feeds.all %}
        <li>
            <a class="waves-effect waves-light" href="/feed/{{custom_feed.id}}" style="color: white; float: left;"><i class="material-icons" style="color: white;">dashboard</i>{{custom_feed.name}}</a>
            <form method="POST" action="/delete_custom_feed" style="float: relative;">
                {% csrf_token %}
                <input name="custom_feed_to_be_deleted" type="hidden" value={{custom_feed.id}}>
                <button class="btn red" type="submit"><i class="material-icons">delete</i></button>
            </form>
        </li>
        {% endfor %}
        <li>
            <a href="#createCustomFeedModal" class="modal-trigger" style="color: white;">
                <i class="material-icons" style="color: white;">add</i>
                Create New Custom Feed
            </a>
        </li>
    </ul>
    <div id="createCustomFeedModal" class="modal blue">
        <div class="modal-content">
            <form id="newCustomFeedForm" method="POST" action="/new_custom_feed">
                <h4 style="color: white;">New Custom Feed</h4>
                {% csrf_token %}
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            {{new_custom_feed_form.name}}
                            <label for={{new_custom_feed_form.name.id_for_label}} style="color: white;">{{new_custom_feed_form.name.label}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{new_custom_feed_form.owner}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{new_custom_feed_form.user_source}}
                            <label for={{new_custom_feed_form.user_source.id_for_label}} style="color: white;">{{new_custom_feed_form.user_source.label}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{new_custom_feed_form.group_source}}
                            <label for={{new_custom_feed_form.group_source.id_for_label}} style="color: white;">{{new_custom_feed_form.group_source.label}}</label>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.dropdown-trigger').dropdown({
                coverTrigger: false
            });
            $('.modal').modal();
            $('.select').formSelect();
        });
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
</body>
