<head>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="material-icons" style="font-size: 40px;">menu</i></a>
            <a href="/" class="brand-logo"><i class="large material-icons" style="font-size: 40px;">home</i></a>
            <ul id="nav-mobile" class="right">
                <li><i class="material-icons">search<input type="text" placeholder="Search"/></i></li>
                <li><a href="/profile"><i class="material-icons">account_circle</i></a></li>
                <li><a href="/admin"><i class="material-icons">admin_panel_settings</i></a></li>
                <li><a href="/logout"><i class="material-icons">logout</i></a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav blue" id="mobile-demo">
        <h5 style="margin-left: 20px; color: white;">Feeds</h5>
        <li><a class="waves-effect waves-light" href="/" style="color: white;"><i class="material-icons" style="color: white;">dashboard</i>Default Feed</a></li>
        <li><a class="waves-effect waves-light" href="/" style="color: white;"><i class="material-icons" style="color: white;">dashboard</i>Custom Feed 1</a></li>
    </ul>
    {% block content %}
    {% endblock content %}
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>
