{% extends 'header.html' %}
<body>
	{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card blue z-depth-3">
					<div class="card-content white-text">
						<div class="row valign-wrapper">
							<div class="col s2">
							<img src="https://64.media.tumblr.com/avatar_ac798bf64e72_128.pnj" alt="" class="circle responsive-img" style="display: inline">
							</div>
							<div class="col s10">
								<span class="card-title">{{user_to_display.first_name}} {{user_to_display.last_name}}</span>
							</div>
						</div>
						<div class="divider">
						</div>
						<div class="row valign-wrapper" style="margin-top: 1rem">
							<div class="col s2"> 
								<span class="material-icons" style="color: white; font-size: 3rem;">work</span>
							</div>
							<div class="col s10">
								<a style="color: white;">{{user_profile_to_display.work_position}}</a>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s2"> 
								<span class="material-icons" style="color: white; font-size: 3rem;">contact_phone</span>
							</div>
							<div class="col s10">
								<a style="color: white;">+45 {{user_profile_to_display.profilePhoneNumber}}</a>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s2"> 
								<span class="material-icons" style="color: white; font-size: 3rem;">contact_mail</span>
							</div>
							<div class="col s10">
								<a style="color: white;">{{user_to_display.email}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
			  <h5 style="text-align: center; color: white; font-weight: bold">Posts</h5>
			  {%for post in user_posts%}
			  <div class="card blue z-depth-3">
				<div class="card-content white-text">
					<div class="row valign-wrapper">
						<div class="col s2">
							<!-- insert {{userprofile.profile_picture}}-->
							<img src="https://64.media.tumblr.com/avatar_ac798bf64e72_128.pnj" alt="" class="circle responsive-img" style="display: inline">
						</div>
						<div class="col s10">
							<span href="/profile/5" class="card-title">{{post.author.first_name}}{{post.author.last_name}}</span>
						<p>{{post.content}}</p>
					</div>
				</div>
				<div class="card-action">
					<a href="#"><i class="material-icons" style="color: white;">thumb_up</i></a>
					<a href="#"><i class="material-icons" style="color: white;">thumb_down</i></a>
					<a href="#replyModal" class="modal-trigger"><i class="material-icons" style="color: white;">comment</i></a>
					<div id="replyModal" class="modal blue">
						<div class="modal-content">
							<h4>Reply</h4>
							<div class="row">
								<form class="col s12">
									<div class="row">
										<div class="input-field col s12">
											<textarea id="reply" class="materialize-textarea" placeholder="Reply Text"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer blue">
						  <a href="#!" class="modal-close waves-effect waves-white btn-flat" style="color: white;">Send</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock content %}
	<script>
		$(document).ready(function(){
			$('.modal').modal();
		});
	</script>
</body>
